<div class="container mt-2" *ngIf="billDetails">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Order ID: {{billId}}</div>
        <div class="card-body text-sm-start">
            <ul class="list-group">
              <li class="list-group-item">Bill Id : {{billDetails.id}}</li>
              <li class="list-group-item">Date : {{billDetails.billDate|date:'dd/MM/yyyy'}}</li>
              <li class="list-group-item">Customer Name : {{billDetails.customer.name}}</li>
              <li class="list-group-item">Customer Email : {{billDetails.customer.email}}</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Product Item</div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr class="bg-dark text-white">
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pi of billDetails.productItems">
              <td>{{pi.id}}</td>
              <td>{{pi.productName}}</td>
              <td class="text-end">{{pi.quantity}}</td>
              <td class="text-end">{{pi.price | number :'.2'}}</td>
              <td class="text-end">{{pi.amount | number :'.2'}}</td>
            </tr>
            <tr class="bg-dark text-white">
              <td colspan="5" class="text-end">Total</td>
              <td class="text-end">{{billDetails.total | number :'.2'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
